<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<ion-header>
  <ion-toolbar>
    <div class="img-head">
      <img class="hide-img" src="../../assets/logo.png" width="10%">&nbsp;ระบบการจัดการอุปกรณ์ทางการแพทย์</div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container-fluid mt-5">
    <div class="row text-center">
      <div class="col-12">
        <h2>การแจ้งเตือน</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-2 mt-2">
      <div class="container-fluid d-none d-sm-block">
        <div class="row text-center">
          <div class="col-10 border-col">
            กล่องข้อความ
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10  offset-2">
      <div class="container-fluid d-none d-sm-block">
        <div class="row text-center">
          <div class="col-10 border-col">
            ข้อความ
          </div>
        </div>
      </div>
    </div>
  </div>



</ion-content>