<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header style="background-color: #f598e2">
      <ion-toolbar>
        <ion-title>เมนู</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content style="background: #f9c7ef">
      <div class="container">
        <div class="row my-1">
          <div class="col-12">{{name}}</div>
        </div>
        <div class="row my-1">
          <div class="col-12">{{position}}</div>
        </div>
        <div class="row my-1" *ngIf="role == '99'">
          <div class="col-12"><a href="/mainadmin">หน้าแรก</a></div>
        </div>
        <div class="row my-1" *ngIf="role == '99'">
          <div class="col-12"><a href="/update">เพิ่มอุปกรณ์</a></div>
        </div>
        <div class="row my-1" *ngIf="role == '99'">
          <div class="col-12"><a href="/revert">หน้าคืน</a></div>
        </div>
        <div class="row my-1" *ngIf="role == '99'">
          <div class="col-12"><a href="/report">หน้าออกรายงาน</a></div>
        </div>
        <div class="row my-1" *ngIf="role != '99'">
          <div class="col-12"><a href="/main">หน้าแรก</a></div>
        </div>
        <div class="row my-1" *ngIf="role != '99'">
          <div class="col-12"><a href="/edit-profile">แก้ไขข้อมูลผู้ใช้</a></div>
        </div>
        <div class="row my-1" *ngIf="role != '99'">
          <div class="col-12"><a href="/search-booking">ค้นหาการจองอุปกรณ์</a></div>
        </div>
        <div class="row my-1">
          <div class="col-12"><a href="/login" (click)="logout();">ออกจากระบบ</a></div>
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>